<div class="dark:bg-black grid-pattern  landing-wrapper overflow-hidden">
    <app-cabecera></app-cabecera>
    <app-main></app-main>

    <app-serviciossolutions></app-serviciossolutions>

    <app-porqueelegirnos></app-porqueelegirnos>
  
    <app-beneficios></app-beneficios>

    <app-footer></app-footer>

</div>
  <div class="fixed bottom-5 right-5">

<app-nuestrobot
  titulo="🤖 ¡Hola Humano!"
  [descripcion]="'Si estás interesado en contratar nuestros servicios de <br/>  <strong> Humanibot Solutions</strong>.<br/>La forma más rápida de contactarnos es por WhatsApp para recibir atención personalizada y cotizaciones inmediatas.<br/>También puedes seguirnos en nuestras redes sociales para estar al día con nuestras novedades y contenido.'">
</app-nuestrobot>

  </div>
