/* Fade in al cargar */
@keyframes fadeInUp {
  0% { opacity: 0; transform: translateY(20px); filter: blur(6px); }
  100% { opacity: 1; transform: translateY(0); filter: blur(0); }
}


/* Fade in primero */
.fade-in-up {
  opacity: 0;
  animation: fadeInUp 1s forwards;
}



/* Animación de gradiente de fondo */
@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Fondo dinámico para todo el canvas */
#canvasContainer {
  background: linear-gradient(135deg, #1f0536, #4b0082, #8b00ff);
  background-size: 400% 400%;
  animation: gradientShift 10s ease infinite;
}
