<div class="relative text-center mb-20 mt-10">
  <h2 class="text-4xl md:text-5xl font-extrabold tracking-tight text-black dark:text-white">
    Beneficios con Humanibot Solutions
  </h2>
  <p class="mt-4 text-gray-700 dark:text-gray-300 text-lg max-w-2xl mx-auto">
    Optimiza tus procesos, aumenta tu productividad y potencia tu negocio con inteligencia y soluciones innovadoras.
  </p>
</div>

<div class="relative overflow-hidden max-w-[1280px] h-[100px] mx-auto shadow-lg">
  <!-- Gradientes -->
<!-- Gradiente izquierdo -->
<div class="absolute top-0 left-0 h-full w-48 z-10 pointer-events-none 
            bg-gradient-to-r from-white to-transparent 
            dark:from-black dark:to-transparent">
</div>

<!-- Gradiente derecho -->
<div class="absolute top-0 right-0 h-full w-48 z-10 pointer-events-none 
            bg-gradient-to-l from-white to-transparent 
            dark:from-black dark:to-transparent">
</div>


  <!-- Slider Track -->
  <div class="flex animate-scroll w-[3500px]">
    <img class="h-[100px] w-[250px] flex-shrink-0" src="carrusel/eficiencia.png" alt="">
    <img class="h-[100px] w-[250px] flex-shrink-0" src="carrusel/seguridad.png" alt="">
    <img class="h-[100px] w-[250px] flex-shrink-0" src="carrusel/optimizacion.png" alt="">
    <img class="h-[100px] w-[250px] flex-shrink-0" src="carrusel/soporte.png" alt="">
    <img class="h-[100px] w-[250px] flex-shrink-0" src="carrusel/garantia.png" alt="">
    <img class="h-[100px] w-[250px] flex-shrink-0" src="carrusel/escabilidad.png" alt="">
    <img class="h-[100px] w-[250px] flex-shrink-0" src="carrusel/calidad.png" alt="">
    <!-- Repetidos para loop -->
    <img class="h-[100px] w-[250px] flex-shrink-0" src="carrusel/eficiencia.png" alt="">
    <img class="h-[100px] w-[250px] flex-shrink-0" src="carrusel/seguridad.png" alt="">
    <img class="h-[100px] w-[250px] flex-shrink-0" src="carrusel/optimizacion.png" alt="">
    <img class="h-[100px] w-[250px] flex-shrink-0" src="carrusel/soporte.png" alt="">
    <img class="h-[100px] w-[250px] flex-shrink-0" src="carrusel/garantia.png" alt="">
    <img class="h-[100px] w-[250px] flex-shrink-0" src="carrusel/escabilidad.png" alt="">
    <img class="h-[100px] w-[250px] flex-shrink-0" src="carrusel/calidad.png" alt="">
  </div>
</div>


