<main id="sobrenosotros" class="flex-1 py-10">
    <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 text-center">
        <h1 class="text-5xl md:text-6xl font-bold text-gray-900 dark:text-white mb-6 animate-fade-in">
            HumaniBot Academíco
            <span class=" bg-clip-text text-primary">
                Aprende y Crece
            </span>
        </h1>
        <p class="text-xl text-gray-600 mb-8 animate-fade-in max-w-2xl mx-auto dark:text-gray-400">
            En <strong>HumaniBot Academíco</strong> apoyamos a estudiantes, profesionales y entusiastas de la tecnología a alcanzar
            sus metas académicas y profesionales.
        </p>
    </div>
</main>